{% extends 'layout.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="ui container text">
        <form class="ui form" method='post' action='/'>
            <div class="field">
                <label>App Id</label>
                <input type="text" name="appId" placeholder="App Id">
            </div>
            <div class="field">
                <label>App Secret</label>
                <input type="text" name="appSecret" placeholder="App Secret">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}


{% block includes %}
{% endblock %}
